
* {
/* background-color: #000000;
*/
background-color: #1b1d1f;
}

#entry {
border-radius: 0px;
padding: 5px;
margin: 7px 4px 0px 7px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
background-color: #2a2f30;
border-radius: 8px;
color: #1d2021;
}

#entry:selected>* {
border: 7px;
background-color: @darkish;
color: #1d2021;
}
 
#text:selected {
color: #c5d1eb;
}
 
#window {
background-color: transparent;
font-family: Iosevka;
font-size:14px;
}

#input {
border: none;
background-color: #2b2f30;
color: #abb2bf;
border: 0px solid #abb2bf;
border-radius: 8px;
margin-bottom: 5px;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
}

#input>* {
background-color: @darkish;
}

#inner-box {
margin-right: 0px;
border-radius: 8px;
margin-left: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

#outer-box {
/* background-color: #1d2021;
*/

border: 2px solid #2a2f30;

/*
border-bottom: 0px solid #a3be8c;
border-left: 0px solid #b48ead;
border-right: 0px solid #d08770; 
*/

border-radius: 8px;
padding: 1px;
}

#scroll {
}

#text {
background-color: transparent;
color: #abb2bf;
} 

#img {
  background-color: transparent;
  margin-right: 10px;
}
