
* {
background-color: #2e3440;
}

#entry {
border-radius: 6px;
padding: 10px;
margin: 0px 4px 0px 4px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
border: 0px solid @yellow;
background-color: #5e81ac;
}

#entry:selected>* {
background-color: @darkish;
}
 
#text:selected {
color: @yellow;
}
 
#window {
background-color: transparent;
font-family: Iosevka;
font-size:14px;
}

#input {
border: none;
background-color: @darkish;
color: #ffffff;
border: 2px solid #4c566a;
border-radius: 10px;
margin-bottom: 20px;
margin-top: 8px;
margin-left: 10px;
margin-right: 10px;
}

#input>* {
background-color: @darkish;
}

#inner-box {
margin-right: 10px;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
}

#outer-box {
background-color: #2e3440;
border: 2px solid #3b4252;

/* border-top: 7px solid #ebcb8b;
border-bottom: 7px solid #a3be8c;
border-left: 7px solid #b48ead;
border-right: 7px solid #d08770; 
 */

border-radius: 8px;
padding: 3px;
}

#scroll {
}

#text {
background-color: transparent;
color: #ffffff;
} 

#img {
  background-color: transparent;
  margin-right: 10px;
}
